.border-radius {
  border-radius: 3%;
}
.border-radius-5 {
  border-radius: 5%;
}


.color-green {
  color: green;
}
.color-gray {
  color: gray;
}
.color-red {
  color: red;
}
.color-blue {
  color: blue;
}

.text-bold {
  font-weight: bold;
}

.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-28 {
  font-size: 28px;
}
.font-30 {
  font-size: 30px;
}

.box-shadow {
    box-shadow: 5px 5px #fffafa;
}
.box-shadow2 {
  box-shadow: 2px 3px #999999;
}

.border {
  border: 1px solid #333;
}

.scroll-y{
  overflow-y: scroll;
}

